.esquerda{
    width: 70%;
    padding-top: 4%;
    background-color: whitesmoke;
    height: 100%;
    flex-direction: column;
}


.direita{
    width: 30%;
    display: flex;
    box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.5);
    position: fixed;
    margin-left: 70%;
}


.pagina{
    display: flex;
}

.img_fundo{
    background-image: url(https://www.hfa.pt/storage/files/original/capital_social._5fdcc65e3a01b.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    padding: 0;
    background-size: cover;
    background-position: center;
}


.ImgText{
    color: white;
    padding-top: 28vh;
    margin-left: 2%;
    position: absolute;
    font-family: 'Titillium Web', sans-serif;
    font-size: 5vh;
}

.img{
    height: 30vh;
    width: 40vh;
    margin-top: 3%;
    margin-right: 10%;
}

.historia{
    display: flex;
    margin-top: 4%
}

.texto_historia{
    padding-left: 5%;
    padding-right: 10%;
    font-size: 2.4vh;
}

.objetivo{
   margin-top: 4%;
    box-shadow: inset 0 0 0 1000px rgba(9, 1, 62, 0.486);
    background-image: url(https://www.hfa.pt/storage/files/original/BannerHomepage_5ecccdf533634.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    padding: 0;
    background-size: cover;
    background-position: center;
    display: flex; /* define o tipo de display como flexível */
    align-items: center; 
   

    
}

.objetivo_conteudo{
    text-align: center;
    padding-left: 4%;

}
.no-center {
    display: flex;
    font-size: 3vh;
  }

  .obetivo_p{
    text-align: initial;
    font-size: 2.2vh;
  }
.texto_objetivo{
    color: white;
    font-family: 'Titillium Web', sans-serif;
    
}


.text_menu{
    margin-left: 4%;
    margin-top: -1%;
    font-weight: bolder;
}

.barra_hora{
    width: 100%;
    height: 20vh;
    margin-top: 2%;
    font-size: xx-small;
    
}

.compromisso{
    padding-top: 6%;
    display: flex;
    
  
}
.compromisso_esquerda{
    width: 50%;
    
}

.compromisso_direita{
    width: 50%;
    padding-left: 4%;
    
}

.compromisso_img {
    width: 100%;
   
  }

  .compromisso_img2 {
    width: 60%;
   
  }

  .compromisso_fila1{
    display: flex;
    text-align: center;
  }
  
  .compromisso_fila2{
    display: flex;
    text-align: center;
  }

  .compromisso_div{
        margin-right: -20%;
  }

  .compromisso_direita_p{
    font-size: 2.2vh;
    color: #0d344e;
    font-weight: bold;
  }

  .compromisso_direita_h2{
    color: #3ba5dd;
    font-size: 3.3vh;
  }
  

 .ola{
    display: flex;
    align-items: baseline;
    padding-left: 3%;
 }
  
 .parceria_titulo{
    color: #3ba5dd;
    text-align: center;
    font-size: 2.3vh;
  }

  .integrante{
    padding-top: 4%;
    display: flex;
  }

  .integrante_esquerda{
    padding-left: 4%;
    width: 52%;
    
  }

  .integrante_direita{
    padding-left: 4%;
    width: 48%;
    padding-top: 10%;
    height: 20%;
    margin-left: 4%;
  }

  .integrante_direita_border{
    border: 1px solid black;
    box-sizing: border-box;
    padding: 7px;
    transform: translate(-5px, -5px);
    height: 300px;
    width: 300px;
  }

  .footer{
    background-color: #002c4b;
    font-size: 2vh;
    width: 100%;
    height: 10%;
    margin-top: 10%;
    font-family: 'Titillium Web', sans-serif;
}

.Text-footer{
    margin-left: 2%;
    margin-right: 5%;
    font-size: smaller;
    color: white;
}
.Text-footerr{
    margin-left: 2%;
    margin-right: 5%;
    font-size: smaller;
    color: white;
}

.Copy{
  display: flex;
}

.compromisso_texto_p{
  font-size: 2.2vh;
}
  .integrante_p{
    font-size: 2.2vh;
  }
  

