.esquerda{
    width: 70%;
    padding-top: 4%;
    background-color: whitesmoke;
    height: 100%;
    flex-direction: column;
}


.direita{
    width: 30%;
    display: flex;
    box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.5);
}


.pagina{
    display: flex;
}

.img_fundo{
    background-image: url(https://www.hfa.pt/storage/files/original/capital_social._5fdcc65e3a01b.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    padding: 0;
    background-size: cover;
    background-position: center;
}


.ImgText{
    color: white;
    padding-top: 28vh;
    margin-left: 2%;
    position: absolute;
    font-family: 'Titillium Web', sans-serif;
}

.img{
    height: 30vh;
    width: 40vh;
    margin-top: 3%;
    margin-right: 10%;
}

.historia{
    display: flex;
    margin-top: 4%
}

.texto_historia{
    padding-left: 5%;
    padding-right: 10%;
}

.objetivo{
   margin-top: 4%;
    box-shadow: inset 0 0 0 1000px rgba(9, 1, 62, 0.486);
    background-image: url(https://www.hfa.pt/storage/files/original/BannerHomepage_5ecccdf533634.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    padding: 0;
    background-size: cover;
    background-position: center;
    
}

.texto_objetivo{
    color: white;
    font-family: 'Titillium Web', sans-serif;
    
}


.text_menu{
    margin-left: 4%;
    margin-top: -1%;
    font-weight: bolder;
}

.barra_hora{
    width: 100%;
    height: 20vh;
    margin-top: 2%;
    font-size: xx-small;
    
}
