@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.dashboard {
  display: flex;
  height: 100vh;
  
}
.menu_dashboard_esquerda {
    width: 40vh;
    height: 100vh;
    background-color: #4a81dd;
    display: flex;
    flex-direction: column;
    
  }
  
.title{
    background-color: #3d6cbc;
    padding-left: 8%;
    
}  


.p-principal{
    padding-left: 3%;
    color: white;
    font-weight: bold;
}
  
.menu-item {
    color: white;
    list-style-type: none; /* Remove os pontos da lista */
    padding-left: 20px; /* Adiciona um espaçamento à esquerda */
  }
  
  
  
  .ativo {
    background-color: #3d6cbc;
  }

  
  .submenu {
    background-color: white;
    margin: 0;
    font-weight: bold;
  }
 
  .submenu .menu-item {
  background-color: white;
  color: black;
  padding: 5px 10px;
  cursor: pointer;
}

.right-panel {
    display: flex;
  }
  
  .contador-direita {
    display: flex;
    border-radius: 6px;
    margin: 5px;
    justify-content: center;
  }

  .dashboard_direita{
    width: 100%;
    padding-left: 4%;
  }

  .thumbnail{
    width: 96%;
    height: 40vh;
    object-fit: cover;
  }

  
