.esquerda{
    width: 70%;
    display: flex;
}
.esquerda-baixo{
    width: 70%;
    display: flex; 
}

.quadrado{
    background-color: blue;
    width: 100%;
    height: 50vh;
    
}


.esquerda-baixo{
    width: 70%;
    display: flex;
}

.quadradoVideo{
    background-color: red;
    width: 100%;
    height: 50vh;
}
