.one {
    background-image: url("../images/hfa01.png");
}

.two {
    background-image: url("../images/hfa02.png");
}
.three {
    background-image: url("../images/hfa03.png");
}
.four {
    background-image: url("../images/hfa01.png");
}

.five {
    background-image: url("../images/hfa04.png");
}