.esquerda{
    width: 100%;
    display: flex;
    background-color: whitesmoke;
    height: 100%;
    flex-direction: column;
}



.direita{
    width: 30%;
    box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.5);
}   

.titulo{
    display: contents;
    margin-top: 2%;
    margin-left: 3%;
    color: white;
    
}

.pagina{
    display: flex;
}

.mais{
    margin-top: 3%;
    margin-left: 2%;
}

.img{
    display: flex;
    margin-left: 11.2%;
}

.texto{
    margin-top: 2%;
    margin-left: 3%;
   
    height:100%;
    
}

.barra{
    
   
    margin-left: 2%;
    height: 51vh;
    width: 36vh;
    margin-right: 6%;
    margin-top: 5%;
}

.imgbarra{
    height: 15vh;
    width: 42vh;
    margin-left: 2%;
}

.p{
    color:blue;
}

.container {
    flex-direction: row;
    flex-wrap: wrap;
    
  }
  

.footer{
    background-color: #002c4b;
  font-size: 2vh;
    width: 100%;
    height: 10%;
    margin-top: 10%;
    font-family: 'Titillium Web', sans-serif;
}

.Text-footer{
    margin-left: 2%;
    margin-right: 5%;
    font-size: smaller;
    color: white;
}
.Text-footerr{
    margin-left: 2%;
    margin-right: 5%;
    font-size: smaller;
    color: white;
}

.Copy{
    display: flex;
}

.barra_hora{
     width: 100%;
     height: 20vh;
     margin-top: 2%;
     font-size: xx-small;
     
}

.svg_menu{
    height: 5vh;
    width: 5vh;
}

.text_menu{
    margin-left: 4%;
    margin-top: -1%;
    font-weight: bolder;
}

.mais_noticias{
    font-size: 2.1vh;
    
}


.div_noticia{
    font-size: 2vh;
}

.conteudo_menu{

    padding-top: 15%;
    text-align: center;
}

.menu_botao{
    padding-left: 3%;
    text-align: left;
    font-size: 1vh;
}

.footer_menu{
   
    background-color: #002c4b;
    color: white;
    margin-top: 20%;
    display: flex;
    justify-content: center;
    font-size: 1vh;
}


.quadrado_menor{
    width: 33.33%;
    height: 50vh;
    background-color: #002c4b;
    text-align: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}


.quadrado_menor::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere o valor alpha para controlar a transparência */
    z-index: -1;
    
  }

  .quadrado_h1{
    z-index: 1;
    color: #fff;
  }


.quadrado_maior{
    width: 66.66%;
    height: 50vh;
    background-color: #6690ad;
    text-align: center;
    text-align: center;
    background-size: cover;
    position: relative;
    
}

.quadrado_maior::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Altere o valor alpha para controlar a transparência */
  }

.quadrado_fila1{
    display: flex;
}

.quadrado_fila2{
    display: flex;
    
}

.svg{
    margin-top: 25%;
     background-size: cover;
     background-repeat: no-repeat;
    
}